.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: #1d1b26;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox{
    z-index: -1;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #1d1b26;
}

.colorBox:hover{
    background-color:aqua;
    transition-duration: 0s;
}

.backgroundAnim{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #00bfff;
    filter: blur(60px);
    animation: animBack 6s linear infinite;
    z-index: -12;
}

@keyframes animBack{
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}